.wrapper {
  border: 3px solid currentColor;
  padding: 1rem;
  text-align: center;
  width: 300px;
  height: 300px;
  background: #ffffff;
}

.heading {
  font-size: 1.5rem;
  font-weight: bold;
}

.counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.button {
  padding: 0.5rem 2rem;
  border: none;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  background-color: #444444;
  color: #ffffff;
}

.button:disabled {
  cursor: not-allowed;
  background: #eeeeee;
  color: #444444;
}

.counter-value {
  padding: 0 2rem;
}
